@use '../helpers/colors.scss' as colors;

.Challenge {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 57px;
    padding-bottom: 31px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 4px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #000000;
        opacity: 0.4;
    }
    a {
        position: relative;
        z-index: 6;
        text-decoration: none;
        color: colors.$white;
    }
    h2 {
        margin-bottom: 6px;
        font-size: 24px;
    }
    p {
        font-size: 12px;
    }
}