@use '../helpers/colors' as colors;
.pageTitleContainer{
    width: 100%;  
    text-align: center;
    height: 70px;
}

.vraagContainer{
    width: 100%;
    vertical-align: bottom;
    height: 45px;
    display: flex;
}

.vraagTxt{
    margin-left: 5%;
    vertical-align: bottom;
    align-self: flex-end;
}

.inputContainer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.input{
    margin-left: 5%;
    width: 50%;
}

.inputTxt{
    margin-left: 5%;
}

.optbuttonContainer{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.optBtn{
    height: 50px;
    width: 75%;
    background-color: colors.$orange;
    border-radius: 15px;
    border: none;
    font-family: 'Heading Pro Double';
    font-weight: 700;
    color: colors.$white;
    font-size: 18px;
    &:hover{
        // border: 2px solid colors.$black;
        background-color: colors.$black;
        color: colors.$white;
    }
}

.nxtbuttonContainer{
    width: 100%;
    margin-top: 3%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.nxtBtn{
    height: 50px;
    width: 75%;
    background-color: colors.$purple;
    border-radius: 15px;
    border: none;
    font-family: 'Heading Pro Double';
    font-weight: 700;
    color: colors.$white;
    font-size: 18px;
}

.white{
    width: 100%;
    height: 30px;
}

.white2{
    width: 100%;
    height: 10px;
}