@use '../helpers/colors' as colors;

.pageTitleContainer{
    width: 100%;  
    text-align: center;
    height: 70px;
}

.weekTxt{
    display: flex;
    margin-left: 5%;
    width: 120px;
    border-bottom: 5px solid colors.$orange;
}

.dagContainer{
    width: 100%;
    vertical-align: bottom;
    height: 50px;
    display: flex;
}

.dagTxt{
    margin-left: 5%;
    vertical-align: bottom;
    vertical-align: bottom;
    align-self: flex-end;
}

.infoContainer{
    width: 100%;
    vertical-align: bottom;
    height: 20px;
    display: flex;
}

.infoTxt{
    margin-left: 5%;
    align-self: flex-end;
}

.oefeningContainer{
    height: 210px;
    display: flex;
}

.oefeningField{
    background-color: colors.$light-gray;
    height: 200px;
    width: 80%;
    border-radius: 15px;
    align-self: flex-end;
    margin-left: 5%;
}

.oefeningTxt{
    margin-top: 5%;
}

.oefeningBtn{
    margin-top: 5%;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border: none;
    background-color: colors.$purple;
    font-family: 'Heading Pro Double';
    font-weight: 700;
    color: colors.$white;
    font-size: 18px;
}

#oefeningIMG{
    position: absolute;
    height: 200px;
    z-index: 0;
    margin-left: 20%;
}

#oefeningIMG2{
    position: absolute;
    height: 140px;
    z-index: 0;
    margin-left: 34%;
    margin-top: 15%;
}